<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5 title">프로필 수정</h1>
    <form name="frm" class="col-md-6 card p-3" method="post" action="/users/update" enctype="multipart/form-data">
        <div class="update_image">
            <div class="profile-image-container">
                <img src="http://via.placeholder.com/150x150" alt="" id="photo" class="profile-image">
            </div>
            <div class="upload_box">
                <input type="file" name="file" id="frmFile" class="form-control file_inputbox">
            </div>
            <input name="photo" value="<%= user.photo%>" type="hidden">
        </div>
        <hr>
        <div class="input-group mb-3 name">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">NAME</label>
                <input type="hidden" name="uid" value="<%= user.uid %>">
              </div>
            <input name="uname" class="form-control" type="uname" value="<%= user.uname %>">
        </div>
        <div class="input-group mb-3">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">PHONE</label>
              </div>
            <input name="phone" class="form-control" value="<%= user.phone %>">
        </div>
        <div class="input-group mb-2">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">ADDRESS</label>
              </div>
            <input name="address1" class="form-control" value="<%= user.address1 %>">
            <button id="search" type="button" class="btn btn-secondary">주소검색</button>
        </div>
        <div>
            <input name="address2" class="form-control mb-5" placeholder="상세주소" value="<%= user.address2 %>">
        </div>
        <div class="text-center">
            <button class="btn btn-secondary col-2">수정</button>
            <button class="btn btn-dark col-2" type="reset">취소</button>
        </div>
    </form>
</div>

<script>
    const photo = "<%= user.photo %>";

    if(photo) {
        $("#photo").attr("src", "/upload/photo/" + photo);
    } else {
        $("#photo").attr("src", "http://via.placeholder.com/100x100");
    }

    // 파일이 바뀐경우 미리보기 (프로필 이미지)
    $('#frmFile').change(function(e){
        $('#photo').attr("src", URL.createObjectURL(e.target.files[0]));
    });

    //수정버튼을 눌렀을때
    $(frm).submit(function(e) {
        e.preventDefault();  // 폼 제출의 기본 동작 막기
        const uid = $(frm.uid).val();
        const uname = $(frm.uname).val();
        const phone = $(frm.phone).val();
        const address1 = $(frm.address1).val();
        const address2 = $(frm.address2).val();
    
        if(confirm("수정된 내용을 저장하시겠습니까?")) frm.submit();
    });

    // 주소검색버튼을 클릭한 경우 (카카오 API사용)
    $("#search").click(function(){
        new daum.Postcode({
            oncomplete:function(data){
                console.log(data);
                if(data.buildingName != ""){
                    $(frm.address1).val(data.address + " " + data.buildingName);
                } else {
                    $(frm.address1).val(data.address);
                }
            }
        }).open();
    });
</script>